/*<-- menu -->*/
/* Estilos para el MENU*/
/*.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/*li {
    float: left;
}*/
/*#titulo{
  color: #f05f40;
}
#menus:hover{
  color: #f05f40;
}
#navbar{
  background-color: #222222;
}

.colorlogres{
  color:#f05f40;
}

li a {
  display: block;
  color: black;
  /*text-align: center;*/
/*padding: 14px 16px;
  text-decoration: none;
}
navbar-inverse{
  background-color: #222222;
}
.navbarADMIN{
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #F05F40;
  border-radius: 4px;

}
.iconbarADMIN{
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #F05F40;

}
.iBar2{
  margin-top: 4px;
}
/*<-- /menu -->*/
/*<-- menu -->*/
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/*li {
    font-family: Montserrat, sans-serif;
    float: left;
}*/
#titulo {
  color: #f05f40;
}

#menus:hover {
  color: #f05f40;
}

#navbar {
  background-color: #222222;
}

.colorlogres {
  color: #f05f40;
}

li a {
  display: block;
  color: #54697E;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size {
  font-size: 87px;
}

/*<-- /menu -->*/
